body {
  background-image: linear-gradient(
    to bottom,
    #1f3557,
    #27335f,
    #362e64,
    #472765,
    #5a1a62
  );
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.signup label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.signup input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup button {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup button:hover {
  background-color: #555;
}

.signup img {
  width: 30%;
  margin-bottom: 2rem;
}
