.expense-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.expenses-list > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}
