@import url("https://fonts.googleapis.com/css2?family=Forum&family=Montserrat&family=Roboto&display=swap");

body {
  font-family: "Forum", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
